<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--dubbo配置-->
    <!--注册一个应用-->
    <dubbo:application name="happyShopping_content_service"/>

    <!--
       注意：我们目前有两个服务工程，当两个工程同时启动时会发生端口冲突，
       因为连接dubbox注册中心的端口默认是20880。
       所以我们需要配置一下happyShopping_content_service工程的dubbox端口
     -->
    <dubbo:protocol port="20882" name="dubbo"/>

    <!--注册中心-->
    <dubbo:registry address="zookeeper://192.168.175.132:2181"/>

    <!--包扫描，暴露接口信息-->
    <dubbo:annotation package="com.happyShopping.content.service.impl"/>
</beans>